.App {
  margin: 0;
  background-color: rgb(241, 241, 241);
  height: auto;
  width: auto;
}
.ReactModal__Content {
  height: 345px !important;
  width: 640px !important;
  margin: auto;
}
/* .modal__body */
.modal__buttons {
  margin-top: 100px !important;
}

@media screen and (max-width: 1113px) {
  .sidebar {
    display: none !important;
  }
  .widget {
    display: none !important;
  }
  .qHeader__icons > * {
    display: none !important;
  }
  .qHeader__icons > *:nth-child(1) {
    display: block !important;
  }
}
@media screen and (max-width: 765px) {
  /* .qHeader__Rem > *:nth-child(2) {
        display: none !important;
    } */
  .ReactModal__Content {
    width: 80vw !important;
    inset: 0px !important;
  }
}
@media screen and (max-width: 750px) {
  .login__container {
    width: 80% !important;
    margin: 0 auto;
  }
  .login__emailPass {
    padding-left: 0px !important;
  }
}
@media screen and (max-width: 700px) {
  .login__auth {
    flex-direction: column;
  }
  /* .qHeader__Rem > *:nth-child(2) {
        display: none !important;
    } */
  .qHeader form {
    display: none !important;
  }
  .feed {
    width: 90% !important;
  }
  .post,
  .quoraBox {
    width: 100% !important;
  }
  .qHeader__Rem {
    margin-left: 3px !important;
  }
  .qHeader__Rem button {
    width: 111px !important;
    margin-left: 5px !important;
  }
  .qHeader__logo img {
    width: 60px !important;
    height: auto !important;
  }
}

.login {
  position: relative;
}
.quora__content {
  min-height: 100vh !important;
}
.auth-loader {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  width: max-content;
  height: max-content;
}
.facebook-selected {
  background-color: silver;
}
.coming__soon {
  width: 50%;
  height: auto;
  object-fit: contain;
  height: max-content;
}
.under__construction {
  width: 40%;
}
.notifications_i {
  width: 35%;
}
